name: Rada Monitor

on:
  schedule:
    # запуск каждый час (UTC)
    - cron: "*/2 * * * *"
  # возможность запустить руками с кнопки "Run workflow"
  workflow_dispatch:
permissions:
  contents: write 

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run monitor script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python main.py

      - name: Commit updated seen_bills.json
        run: |
          if git status --porcelain | grep -q 'seen_bills.json'; then
            git config user.name "github-actions[bot]"
            git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git add seen_bills.json
            git commit -m "Update seen bills [skip ci]" || echo "No changes to commit"
            git push
          else
            echo "seen_bills.json не изменился"
          fi
